.photo-nav{height:33px;margin-left:84px;margin-top:20px;}
.photo-nav a{padding-right:20px;text-decoration :none;font-family:微软雅黑;font-size:12px;color:#111111;}
.photo-nav a:hover{font-weight:bold;}

.photo-yeshu1{margin-left:84px;}
.p one{margin-left:84px;font-family:Arial;font-size:14px;color:#111111;}

.photo-tupian{margin-left:84px;height:920px;}
.displayPic{float: left;padding-top:20px; padding-right:20px;}

.photo-yeshu2{margin-left:84px;}
.p two{margin-left:84px;font-family:Arial;font-size:14px;color:#111111;}

.photo-Tupian{margin-left:84px;height:920px;}
.photo-Tupian1{float: left;padding-right:20px;}
.photo-Tupian2{float: left;padding-right:20px;}
.photo-Tupian3{float: left;padding-right:20px;}
.photo-Tupian4{float: left;padding-right:20px;}
.photo-Tupian5{float: left;padding-top:20px; padding-right:20px;}
.photo-Tupian6{float: left;padding-top:20px; padding-right:20px;}
.photo-Tupian7{float: left;padding-top:20px; padding-right:20px;}
.photo-Tupian8{float: left;padding-top:20px; padding-right:20px;}
.photo-Tupian9{float: left;padding-top:20px; padding-right:20px;}
.photo-Tupian10{float: left;padding-top:20px; padding-right:20px;}
.photo-Tupian11{float: left;padding-top:20px; padding-right:20px;}
.photo-Tupian12{float: left;padding-top:20px; padding-right:20px;}
.photo-Tupian13{float: left;padding-top:20px; padding-right:20px;}
.photo-Tupian14{float: left;padding-top:20px; padding-right:20px;}
.photo-Tupian15{float: left;padding-top:20px; padding-right:20px;}
.photo-Tupian16{float: left;padding-top:20px; padding-right:20px;}

.photo-foot{background-color:#cccccc;}
.photo-foot img{padding-left :634px}
